	.st0{fill:#690362;}
	.st1{fill:#FAF8FA;}
	.st2{fill:#FFCAC8;}
	.st3{fill:#FD6A46;}
	.st4{fill:#FFADAA;}
	.st5{fill:#FA1A36;}
	.st6{fill:#FB487A;}
	.st7{fill:#FD670D;}
	.st8{fill:#F91CB7;}
	.st9{fill:#FB4017;}
	.st10{fill:#FA1A3C;}
	.st11{fill:#F92D9F;}
	.st12{fill:#FB2C1D;}
	.st13{fill:#F919BA;}
	.st14{fill:#FB2F1D;}
	.st15{fill:#49004B;}
	.st16{fill:#FA1A22;}
	.st17{fill:#FF9C01;}
	.st18{fill:#F813C6;}
